<h2>Account</h2>

<nav>
  <ul>
    <li><a href="/account/following_users">Followed Users</a></li>
    <li><a href="/account/following_tags">Followed Tags</a></li>
    <li><a href="/account/blocked_words">Blocked/muted words</a></li>
  </ul>
</nav>
