<h3>Post search</h3>

<table>
  <tbody>
    <tr>
      <th>Search for posts with <code>foo</code> and <code>bar</code></th>
      <td>foo bar</td>
    </tr>
    <tr>
      <th>Search for posts with the phrase <code>foo bar</code></th>
      <td>foo bar</td>
    </tr>
  </tbody>
</table>
