<% form method: "POST" do %>
  <div>
    <label>
      Username
      <input name=username>
    </label>
  </div>
  <div>
    <label>
      Display name
      <input name=name>
    </label>
  </div>
  <div>
    <label>
      Password
      <input name=password type=password>
    </label>
  </div>

  <button>Sign up</button>
<% end %>
